<h1>Editing Student</h1>

<%= render 'form', student: @student %>

<% if is_student_login? %>
  <% unless @student.credit_card %>
    <%= link_to 'Add Credit Card', new_credit_card_path %>
  <% else %>
    <%= link_to 'Edit Credit Card', edit_credit_card_path(@student.credit_card) %> |
    <%= link_to 'Delete Credit Card', @student.credit_card, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <br>
<% end %>

<%= link_to 'Show', @student %>
<% if is_admin? %>
  | <%= link_to 'Back', students_path %>
<% end %>
