<p id="notice"><%= notice %></p>
<h1>Editing Student</h1>

<%= render 'form', student: @student %>

<% unless @student.credit_card %>
<%= link_to 'Add Credit Card', new_student_credit_card_path(@student) %>
<% else %>
<%= link_to 'Edit Credit Card', edit_student_credit_card_path(@student, @student.credit_card) %> |
<%= link_to 'Delete Credit Card', [@student, @student.credit_card], method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
