<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<% if @student.user_auth %>
<p>
  <strong>Email:</strong>
  <%= @student.user_auth.email %>
</p>
<% end %>

<p>
  <strong>Phone number:</strong>
  <%= @student.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Major:</strong>
  <%= @student.major.description %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
