<h1>New Purchase</h1>

<% if @errors and @errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@errors.count, "error") %> prohibited this purchase from being saved:</h2>

    <% @errors.each do |sub_error|%>
      <ul>
        <% sub_error.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>

<% if current_user.cart.cart_items.any? %>
  <table>
    <thead>
      <tr>
        <th>Course Number</th>
        <th>Course Name</th>
        <th>Teacher</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
      <% current_user.cart.cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.section.course.course_number %></td>
          <td><%= cart_item.section.course.name %></td>
          <td><%= cart_item.section.teacher.name %></td>
          <td><%= cart_item.section.course.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= button_to 'Purchase', generate_path, method: :post %>
<% end %>

<%= link_to 'Back', cart_path %>
