<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @purchase.student.name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @purchase.section.course_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @purchase.price %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
