<h1>Feedbacks</h1>

<table>
  <thead>
    <tr>
      <th>Teacher</th>
      <th>Course</th>
      <th>Feedback</th>
      <th></th>
      <% if is_student? %>
      <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.section.teacher.name %></td>
        <td><%= "#{feedback.section.course.name} (#{feedback.section.course.course_number})" %></td>
        <td><%= feedback.description %></td>
        <td><%= link_to 'Show', feedback %></td>
        <% if is_student? %>
        <td><%= link_to 'Edit', edit_feedback_path(feedback) %></td>
        <td><%= link_to 'Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if is_student? %>
<br>
<%= link_to 'New Feedback', new_feedback_path %>
<% end %>
