<p>
  <strong>Teacher:</strong>
  <%= @feedback.section.teacher.name %>
</p>

<p>
  <strong>Course:</strong>
  <%= "#{@feedback.section.course.name} (#{@feedback.section.course.course_number})" %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @feedback.description %>
</p>

<% if is_student? %>
<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<% end %>
<%= link_to 'Back', feedbacks_path %>
