<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th>Course number</th>
      <th>Name</th>
      <th>Discipline</th>
      <th>Area</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_number %></td>
        <td><%= course.name %></td>
        <td><%= course.discipline.description %></td>
        <td><%= course.area %></td>
        <td><%= course.price %></td>
        <td>
          <% section = @teacher.sections.find_by('course_id': course.id, is_deleted: false) %>
          <% unless section.nil? %>
            <%= link_to 'Un-Register', section, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to 'View Students', section_students_path(section) %>
          <% else %>
            <%= button_to 'Register', sections_path, params: { section: {course_id: course.id, teacher_id: @teacher.id}}, method: :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
