<p>
  <strong>Course number:</strong>
  <%= @course.course_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Discipline:</strong>
  <%= @course.discipline.description %>
</p>

<p>
  <strong>Area:</strong>
  <%= @course.area %>
</p>

<p>
  <strong>Price:</strong>
  <%= @course.price %>
</p>

<% if is_admin? %>
  <%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>
<%= link_to 'Back', courses_path %>
