<h1>This is the Student home page</h1>
<h2>Please select one of the pages below</h2>

<%=link_to 'Edit Profile', edit_student_path(current_user) %>
<%=link_to 'Cart', cart_path %>
<%=link_to 'Courses', courses_path %>
<%=link_to 'Purchases', purchases_path %>
<%=link_to 'Feedback', feedbacks_path %>