<!DOCTYPE html>
<html>
  <head>
    <title>ELearning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= link_to "Home", root_path %> |
      Logged in as <%= logged_in_user_auth.email %>. |
      <%= link_to "Logout", logout_path %>
    <% end %>
    <% if impersonating? %>
      <br> Impersonating user <%= current_user_auth.email %>. |
      <%= link_to "Stop", stop_impersonate_path, method: :post %>
    <% end %>
    
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
    
    <%= yield %>
  </body>
</html>
